:root {
  --rose-dust: #a2666f;
--neon-blue: #4d6cfa;
--gunmetal: #30343f;
--amber-sae-ece: #ff7f11;
--medium-spring-green: #40f99b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#avatar {
  width: 100px;
}

